<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Joaquina Dental</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="app/css/vendors/normalize.css">
    <link rel="stylesheet" type="text/css" href="app/css/vendors/Grid.css">
    <link rel="stylesheet" type="text/css" href="app/css/vendors/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="app/css/vendors/animate.css">
    <link rel="stylesheet" type="text/css" href="app/css/site.css">
    <link rel="stylesheet" type="text/css" href="app/css/queries.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,400italic,100,300italic' rel='stylesheet' type='text/css'>
</head>

<body ng-app="todoApp" ng-controller="homeCtrl" role="document">
    <div class="row">
        <nav class="navbar-custom">
            <div class="row">
                <img src="app/images/JDLogo.png" alt="Rio Logo" class="logo">
                <ul class="main-nav js--main-nav">
                    <li ng-class="{ active: isActive('/Home') }"><a href="#/Home/#top">Home</a></li>
                    <li><a href="#features" target="_self">Our Practice</a></li>
                    <li ng-class="{ active: isActive('/MyAccount') }"><a href="#/MyAccount">My Account</a></li>
                    <li ng-class="{ active: isActive('/Appointment') }"><a href="#/Appointment">Appointment</a></li>
                    <li ng-show="!authenticated" ng-class="{ active: isActive('/Login') }"><a href="#/Login">Login</a></li>
                    <li ng-show="authenticated"><a href="" ng-click="logout()">logout</a></li>
                    <li> <p>| <i class="ion-ios-telephone-outline"></i>  1800-JOAQ-INA</p></li>
                </ul>
                <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
            </div>
        </nav>
    </div>
    <div class="container" role="main">
        <div ng-view class="panel-body">
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.2.25/angular-route.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
    <script src="~/Scripts/jquery.waypoints.min.js"></script>
    <script src="app/scripts/scripts.js"></script>
    <script src="app/scripts/adal-angular.js"></script>
    <script src="app/scripts/app.js"></script>
    <script src="app/scripts/homeCtrl.js"></script>
    <script src="app/scripts/loginCtrl.js"></script>
    <script src="app/scripts/userDataCtrl.js"></script>
    <script src="app/scripts/todoListCtrl.js"></script>
    <script src="app/scripts/aboutUsCtrl.js"></script>
    <script src="app/scripts/apptCtrl.js"></script>
    <script src="app/scripts/adminCtrl.js"></script>
    <script src="app/scripts/signUpCtrl.js"></script>
    <script src="app/scripts/myAcctCtrl.js"></script>
    <!--script-- type="text/javascript">
        var apiEndpoint = "@System.Configuration.ConfigurationManager.AppSettings["toDoListAPIURL"]";
    <script-->
    <script type="text/javascript">
        var apiEndpoint = "@System.Configuration.ConfigurationManager.AppSettings["productionAPIURL"]";
    </script>
    <script src="app/scripts/todoListSvc.js"></script>
    <script src="app/scripts/loginSvc.js"></script>
    <script src="app/scripts/apptSvc.js"></script>
    <script src="app/scripts/adminSvc.js"></script>

</body>

</html>
