<div id="loginContent" ng-init="init()">
    <section class="section-form">
        <div class="row">
            <h2>Login</h2>
        </div>
        <div class="row">
            <form class="contact-form"  role="form" ng-submit="login()">
                <div class="form-group">
                    <label for="username">Account ID:</label>
                    <input type="text" class="form-control" id="username" name="username" ng-model="credentials.accountID" />
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password"  class="form-control" id="password" name="password" ng-model="credentials.password" />
                </div>
                <div class="col span-2-of-3">
                    <input class="btn btn-full" type="submit" value="Login">
                    <a class="btn btn-ghost" href="/#SignUp">Sign up for a new account</a>
                </div>
            </form>
        </div>
    </section>
</div>