<link href='https://fonts.googleapis.com/css?family=Lato:400,300,400italic,100,300italic' rel='stylesheet' type='text/css'>
<section class="section-form">
    <div class="row">
        <h2>My Account Info</h2>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col span-1-of-3">
            <p>Dear</p>
        </div>
    </div>
    <div class="row">
        <p>
            This is your oustanding balance for leveraging our services at Joaquina Dental. Thank you for letting us be your friendly neighbourhood dentist team! For any concerns, please
            email us at care@joauinadental.com!
        </p>
        <br />
        <p>With Regards,</p>
        <p>The Joaquina Team</p>
    </div>
    <br />
    <br />

    <table class="table-striped">
        <tr class="table-header">
            <td colspan="2"><b>Your Balance Breakdown</b></td>
        </tr>
        <tr class="table-rows">
            <td>Balance</td>
            <td>$120</td>
        </tr>
        <tr class="table-rows">
            <td>Last Recorded Payment</td>
            <td>$80</td>
        </tr>

        <tr class="table-rows">
            <td><b>Outstanding Balance</b></td>
            <td><b>$40</b></td>
        </tr>
    </table>
</section>